# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# MLflow
mlruns/
artifacts/
mlflow.db

# Data
/data/
*.parquet
*.csv

# Logs
logs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
.env
.env.*
*.pem
*.key
terraform.tfvars

# Docker
*.log
