aws_region         = "us-west-2"
project_name       = "stock-price-predictor"

vpc_id             = "vpc-xxxxxxxx"
public_subnet_id   = "subnet-xxxxxxxx"

mlflow_key_name    = "your-ec2-keypair-name"

allowed_ssh_cidr   = "YOUR_PUBLIC_IP/32"
allowed_mlflow_cidr= "YOUR_PUBLIC_IP/32"

public_subnet_ids = ["subnet-aaaaaaa", "subnet-bbbbbbb"]
ecs_subnet_ids    = ["subnet-aaaaaaa", "subnet-bbbbbbb"]

ecs_desired_count = 1
container_port    = 8000
task_cpu          = 256
task_memory       = 512

image_tag         = "latest"
